body {
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-bottom: 1px solid #CCCCCC;
	background-color: #070C10;
}
li {
	float: right;
}
.logo {
	width: 90px;
	background-image: url("hcvlogo.png");
	background-size: cover;
	height: 90px;
	margin-left: 230px;
	position: absolute;
	margin-top: 4px;
	cursor: pointer;
}
button {
	margin: 14px 0;
	position: relative;
	font-family: 'GothamBold';
	border: none;
	font-size: 20px;
	padding: 14px 40px;
}
.tabs {
	display: inline-block;
}
.text {
	color: white;
	cursor: pointer;
}
.text:hover  {
	color: #0EBFE9;
}
@font-face {
	font-family: 'GothamBold';
	src: url('fonts/GothamBold.woff') format('woff');
}