/* Code from Toast Below DO NOT TOUCH */

.grid {
  list-style: none;
  margin-left: -20px; }

.grid__col--2-of-2, .grid__col--3-of-3, .grid__col--4-of-4, .grid__col--5-of-5, .grid__col--6-of-6, .grid__col--8-of-8, .grid__col--12-of-12 {
  width: 100%; }

.grid__col--1-of-2, .grid__col--2-of-4, .grid__col--3-of-6, .grid__col--4-of-8, .grid__col--6-of-12 {
  width: 50%; }

.grid__col--1-of-3, .grid__col--2-of-6, .grid__col--4-of-12 {
  width: 33.33333%; }

.grid__col--2-of-3, .grid__col--4-of-6, .grid__col--8-of-12 {
  width: 66.66667%; }

.grid__col--1-of-4, .grid__col--2-of-8, .grid__col--3-of-12 {
  width: 25%; }

.grid__col--3-of-4, .grid__col--6-of-8, .grid__col--9-of-12 {
  width: 75%; }

.grid__col--push-2-of-2, .grid__col--push-3-of-3, .grid__col--push-4-of-4, .grid__col--push-5-of-5, .grid__col--push-6-of-6, .grid__col--push-8-of-8, .grid__col--push-12-of-12 {
  margin-left: 100%; }

.grid__col--push-1-of-2, .grid__col--push-2-of-4, .grid__col--push-3-of-6, .grid__col--push-4-of-8, .grid__col--push-6-of-12 {
  margin-left: 50%; }

.grid__col--push-1-of-3, .grid__col--push-2-of-6, .grid__col--push-4-of-12 {
  margin-left: 33.33333%; }

.grid__col--push-2-of-3, .grid__col--push-4-of-6, .grid__col--push-8-of-12 {
  margin-left: 66.66667%; }

.grid__col--push-1-of-4, .grid__col--push-2-of-8, .grid__col--push-3-of-12 {
  margin-left: 25%; }

.grid__col--push-3-of-4, .grid__col--push-6-of-8, .grid__col--push-9-of-12 {
  margin-left: 75%; }

.grid__col--pull-2-of-2, .grid__col--pull-3-of-3, .grid__col--pull-4-of-4, .grid__col--pull-5-of-5, .grid__col--pull-6-of-6, .grid__col--pull-8-of-8, .grid__col--pull-12-of-12 {
  margin-left: -100%; }

.grid__col--pull-1-of-2, .grid__col--pull-2-of-4, .grid__col--pull-3-of-6, .grid__col--pull-4-of-8, .grid__col--pull-6-of-12 {
  margin-left: -50%; }

.grid__col--pull-1-of-3, .grid__col--pull-2-of-6, .grid__col--pull-4-of-12 {
  margin-left: -33.33333%; }

.grid__col--pull-2-of-3, .grid__col--pull-4-of-6, .grid__col--pull-8-of-12 {
  margin-left: -66.66667%; }

.grid__col--pull-1-of-4, .grid__col--pull-2-of-8, .grid__col--pull-3-of-12 {
  margin-left: -25%; }

.grid__col--pull-3-of-4, .grid__col--pull-6-of-8, .grid__col--pull-9-of-12 {
  margin-left: -75%; }

.grid__col--1-of-5 {
  width: 20%; }

.grid__col--push-1-of-5 {
  margin-left: 20%; }

.grid__col--pull-1-of-5 {
  margin-left: -20%; }

.grid__col--2-of-5 {
  width: 40%; }

.grid__col--push-2-of-5 {
  margin-left: 40%; }

.grid__col--pull-2-of-5 {
  margin-left: -40%; }

.grid__col--3-of-5 {
  width: 60%; }

.grid__col--push-3-of-5 {
  margin-left: 60%; }

.grid__col--pull-3-of-5 {
  margin-left: -60%; }

.grid__col--4-of-5 {
  width: 80%; }

.grid__col--push-4-of-5 {
  margin-left: 80%; }

.grid__col--pull-4-of-5 {
  margin-left: -80%; }

.grid__col--1-of-6 {
  width: 16.66667%; }

.grid__col--push-1-of-6 {
  margin-left: 16.66667%; }

.grid__col--pull-1-of-6 {
  margin-left: -16.66667%; }

.grid__col--5-of-6 {
  width: 83.33333%; }

.grid__col--push-5-of-6 {
  margin-left: 83.33333%; }

.grid__col--pull-5-of-6 {
  margin-left: -83.33333%; }

.grid__col--1-of-8 {
  width: 12.5%; }

.grid__col--push-1-of-8 {
  margin-left: 12.5%; }

.grid__col--pull-1-of-8 {
  margin-left: -12.5%; }

.grid__col--3-of-8 {
  width: 37.5%; }

.grid__col--push-3-of-8 {
  margin-left: 37.5%; }

.grid__col--pull-3-of-8 {
  margin-left: -37.5%; }

.grid__col--5-of-8 {
  width: 62.5%; }

.grid__col--push-5-of-8 {
  margin-left: 62.5%; }

.grid__col--pull-5-of-8 {
  margin-left: -62.5%; }

.grid__col--7-of-8 {
  width: 87.5%; }

.grid__col--push-7-of-8 {
  margin-left: 87.5%; }

.grid__col--pull-7-of-8 {
  margin-left: -87.5%; }

.grid__col--1-of-12 {
  width: 8.33333%; }

.grid__col--push-1-of-12 {
  margin-left: 8.33333%; }

.grid__col--pull-1-of-12 {
  margin-left: -8.33333%; }

.grid__col--2-of-12 {
  width: 16.66667%; }

.grid__col--push-2-of-12 {
  margin-left: 16.66667%; }

.grid__col--pull-2-of-12 {
  margin-left: -16.66667%; }

.grid__col--5-of-12 {
  width: 41.66667%; }

.grid__col--push-5-of-12 {
  margin-left: 41.66667%; }

.grid__col--pull-5-of-12 {
  margin-left: -41.66667%; }

.grid__col--7-of-12 {
  width: 58.33333%; }

.grid__col--push-7-of-12 {
  margin-left: 58.33333%; }

.grid__col--pull-7-of-12 {
  margin-left: -58.33333%; }

.grid__col--10-of-12 {
  width: 83.33333%; }

.grid__col--push-10-of-12 {
  margin-left: 83.33333%; }

.grid__col--pull-10-of-12 {
  margin-left: -83.33333%; }

.grid__col--11-of-12 {
  width: 91.66667%; }

.grid__col--push-11-of-12 {
  margin-left: 91.66667%; }

.grid__col--pull-11-of-12 {
  margin-left: -91.66667%; }

.grid__col {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  /*padding-left: 20px;*/
  vertical-align: top; }
  @media (max-width: 900px) {
    .grid__col {
      margin-left: 0;
      margin-right: 0;
      width: auto; } }
  @media (max-width: 900px) and (min-width: 480px) {
    .grid__col[class*="grid__col--m-"] {
      display: inline-block;
      margin-right: -.24em; }
    .grid__col.grid__col--m-1-of-2, .grid__col.grid__col--m-2-of-4 {
      width: 50%; }
    .grid__col.grid__col--m-1-of-3 {
      width: 33.33333%; }
    .grid__col.grid__col--m-2-of-3 {
      width: 66.66667%; }
    .grid__col.grid__col--m-1-of-4 {
      width: 25%; }
    .grid__col.grid__col--m-3-of-4 {
      width: 75%; } }
  @media (max-width: 480px) {
    .grid__col[class*="grid__col--s-"] {
      display: inline-block;
      margin-right: -.24em; }
    .grid__col.grid__col--s-1-of-2, .grid__col.grid__col--s-2-of-4 {
      width: 50%; }
    .grid__col.grid__col--s-1-of-3 {
      width: 33.33333%; }
    .grid__col.grid__col--s-2-of-3 {
      width: 66.66667%; }
    .grid__col.grid__col--s-1-of-4 {
      width: 25%; }
    .grid__col.grid__col--s-3-of-4 {
      width: 75%; } }

.grid__col--centered {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.grid__col--d-first {
  float: left; }

.grid__col--d-last {
  float: right; }

.grid--no-gutter {
  margin-left: 0;
  width: 100%; }
  .grid--no-gutter .grid__col {
    padding-left: 0; }
  .grid--no-gutter .grid__col--span-all {
    margin-left: 0;
    width: 100%; }

.grid__col--ab {
  vertical-align: bottom; }

.grid__col--am {
  vertical-align: middle; }

/* code from Toast above DO NOT TOUCH*/


body{
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'GothamBold';
  color: white;
}

.navbar {
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-bottom: black;
	background-color: rgba(7, 12, 16, 0.85);
	position: fixed;
	z-index: 20;
}
li {
	float: right;
}
.logo {
	width: 65px;
	background-image: url("hcvlogo.png");
	background-size: cover;
	height: 65px;
	margin-left: 5%;
	position: absolute;
	margin-top: 8px;
	cursor: pointer;
	z-index: 21;
	transition: all 0.13s ease-in-out;
}
.logo:hover {
	transform: scale(1.05);
}
button {
	margin: 14px 0;
	position: relative;
	font-family: 'GothamBold';
	border: none;
	font-size: 20px;
	padding: 14px 55px 14px 0;
	background-color: transparent;
	transition: all 0.13s ease-in-out;
}
button:focus {
	outline: 0;
}
.applybtn {
	background-color: #3187C8;
	border-radius: 20px;
	margin: 20px 15px 20px 0;
	padding: 9px 35px;
	transition: all 0.13s ease-in-out;
}
.applybtn:hover .text {
	color: white;
}
.applybtn:hover {
	background-color: #2277AA;
	cursor: pointer;
}
.tabs {
	display: inline-block;
}
.text {
	color: white;
	cursor: pointer;
	transition: all 0.13s ease-in-out;
}
.text:hover  {
	color: #609BDF;
}
h1{
  margin: 0;
}

.home{
  background-image: url("http://1qjqp144udvjh172yr0eqox1.wpengine.netdna-cdn.com/wp-content/uploads/2016/07/14589983_1537006319649037_8698250820981804628_o.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}


.overlay{
  background-color: rgba(0,0,0, .6);
  position: absolute;
  height: 600px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.container{
  width: 90%;
  margin: 0 auto;
  z-index: 10;
  position: relative;
}

.title-main{
  height: 600px;
  z-index: 10;
  padding-left: 0;
}

.hero-title{
  color: white;
  padding-top: 200px;
  z-index: 10;
}

.strong{
  color: #0098DB;
  font-size: 72px;
  text-transform: uppercase;
}

h3{
  font-family: 'GothamLight';
  padding-top: 20px;
  line-height: 23px;
  font-size: 17px;
}
.applyref {
	text-decoration: none;
}
.apply-button{
  background-color: #1E73BE;
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  transition: background-color 0.1s ease;
}

.apply-button:hover{
  background-color: white;
  color: #1E73BE;
}

.curriculum{
  background-color: #1E73BE;
  padding-bottom: 30px;
}

.curriculum-title{
  text-align: center;
  padding-top: 40px;
  font-size: 52px;
  padding-bottom: 30px;
}

.row-image{
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.one-b{
  margin-top: 45px;
  margin-bottom: 15px;
}

.three-b{
  margin-top: 45px;
  margin-bottom: 15px;
}
.three-a{
  margin-top: 45px;
  margin-bottom: 15px;

}

.row-caption{
  position: absolute;
  bottom: -22px;
  left: 0;
}

.small{
  font-family: 'GothamLight';
  margin-top: 20px;
}


span.text-content {
  background: rgba(0,0,0,0.8);
  color: white;
  display: table;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
}

span.text-content span {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  font-family: "GothamLight";
  margin: 0 auto;
  padding-left: 18px;
  padding-right: 18px;
}

.row-image:hover span.text-content{
  opacity: 1;
}

.one-a{
  background-image: url("http://1qjqp144udvjh172yr0eqox1.wpengine.netdna-cdn.com/wp-content/uploads/2014/05/Screen-Shot-2017-01-28-at-1.27.01-PM.jpg");
}

.two-a{
  background-image: url("images/se-logo.png");
}

.three-a{
  background-image: url("images/ind-init.jpg");
}

.one-b{
  background-image: url("images/impact-team.jpg");
}

.two-b{
  background-image: url("images/events.jpg");
}

.three-b{
  background-image: url("images/hot-date-new.jpg");
}


h4{
  margin: 0;
}

.alumni{
  background: linear-gradient(to left, #345673 , #0E1C27 );
}

.row-alumni{
  padding-top: 20px;
}
.row-alumni-img{
  width: 400px;
}

.row-alumni-img-two{
  width: 400px;
}


.alumni-image{
  text-align: center;
  margin-bottom: 35px;
}

p{
  font-family: "GothamLight";
}

a{
  text-decoration: none;
  color: white;
}

.alumni-title{
  padding-top: 120px;
}

.row-item{
  padding-right: 20px;
  padding-top: 50px;
}

.carousel{
  width: 400px;
  position: relative;
}

/*.carousel-one{
  margin-left: 50px;
}

.carousel-two{
  margin-right: 50px;
}*/

.row-alumni-image{
  margin-left: 50px;
  
}


.slide-button{
  display: inline-block;
  color: white;
  position: absolute;
  top: 40%;
  padding: 10px;
  background-color: rgba(0,0,0,.8);
}

.left-button{
  left: 0;
}

.right-button{
  right: 0;
}

.alumni-link{
  color: #1E73BE;
}

.alum-face{
  border-radius: 100%;
  width: 150px;
}

.alum-name{
  padding-top: 50px;
}

.apply{
  height: 100vh;
}

.membership-perks{
  background-color: #3187C8;
}

.icon-holder{
  text-align: center;
}

.apply-link{
  text-align: left;
  font-size: 40px;
  margin:34px auto;
}

.blue-link{
  text-transform: uppercase;
  color: #3187C8;
}
.events{
  padding-bottom: 50px;

}




.dropdown {
	display: none;
}
.instrSect {
	width: 100%;
	background: linear-gradient(to left, #345673, #0E1C27);
	height: 665px;
	position: relative;
}
.headshot {
	position: absolute;
	background-size: cover;
	border-radius: 50%;
	border: 2px dotted #111E6C;
	z-index: 2;
}
.adam {
	background-image: url('adampic.png');
	width: 282px;
	height: 282px;
	top: 30px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0) scale(0);
	opacity: 0;
	transition: transform 0.33s ease;
}
.kim {
	background-image: url('kimpic.jpg');
	width: 230px;
	height: 230px;
	float: left;
	left: 18%;
	top: 360px;
	transform: scale(0);
	opacity: 0;
	transition: all 0.3s ease;
}
.kendall {
	background-image: url('kendallpic.jpg');
	width: 230px;
	height: 230px;
	float: right;
	right: 18%;
	top: 360px;
	transform: scale(0);
	opacity: 0;
	transition: all 0.3s ease;
}
.instrNames {
	position: absolute;
	font-family: 'ChunkFive';
	font-size: 27px;
	color: #A1CAF1;
	letter-spacing: 1px;
}
.adamTitle {
	top: 300px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0) scale(0);
	opacity: 0;
	transition: all 0.3s ease;
}
.kimTitle {
	top: 582px;
	float: left;
	left: 20%;
	transform: scale(0);
	opacity: 0;
	transition: all 0.3s ease;
}
.kendallTitle {
	top: 582px;
	float: right;
	right: 18.6%;
	transform: scale(0);
	opacity: 0;
	transition: all 0.3s ease;
}
.instrHeading {
	font-weight: bold;
	text-align: center;
	position: absolute;
	font-size: 75px;
	top: 330px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0) scale(0);
	opacity: 0;
	transition: all 0.3s ease;
}
.textbox {
	padding: 12px;
	border-radius: 10px;
	background-color: #1A1110;
	position: absolute;
	opacity: 0;
	transition: all 0.3s ease;
	font-size: 15px;
}
.adamDesc {
	top: 330px;
	border: 1px solid white;
	width: 330px;
	height: 220px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0);
	transition-delay: 0.2s;
}
.kimDesc {
	top: 115px;
	border: 1px solid white;
	width: 250px;
	height: 205px;
	float: left;
	left: 16.5%;
	transition-delay: 0.2s;
}
.kendallDesc {
	top: 115px;
	border: 1px solid white;
	width: 250px;
	height: 205px;
	float: right;
	right: 16.7%;
	transition-delay: 0.2s;
}
.adam:hover {
	transform: translate(-50%, 0) scale(1.08) !important;
}
.adam:hover ~ .adamDesc {
	opacity: 0.98;
	top: 372px;
	transition-delay: 0s;
}
.adam:hover ~ .adamTitle {
	top: 303px !important;
	color: #CFF1F4 !important;
	transform: translate(-50%, 0) scale(1.05) !important;
}
/*.adamDesc:hover {
	opacity: 0.98;
	top: 372px;
	transition-delay: 0s;
}*/
.kim:hover {
	transform: scale(1.08) !important;
}
.kim:hover ~ .kimDesc {
	opacity: 0.98;
	top: 90px;
}
.kim:hover ~ .kimTitle {
	color: #CFF1F4 !important;
	transform: scale(1.05) !important;
}
.kimDesc:hover {
	opacity: 0.98;
	top: 90px;
	transition-delay: 0s;
}
.kendall:hover {
	transform: scale(1.08) !important;
}
.kendall:hover ~ .kendallDesc {
	opacity: 0.98;
	top: 90px;
}
.kendall:hover ~ .kendallTitle {
	color: #CFF1F4;
	transform: scale(1.05) !important;
}
.kendallDesc:hover {
	opacity: 0.98;
	top: 90px;
	transition-delay: 0s;
}
.title {
	font-weight: bold;
	font-size: 35px;
}
.subtitle {
	font-weight: bold;
	font-size: 20px;
}
.footer {
	background-color: white;
	height: 370px;
	color: black;
	font-family: 'GothamLight';
}
.footLeft {
	padding: 15px 20px 0 20px;
	border-right: 1px solid black;
	height: 370px;
}
.footRight {
	padding: 15px 20px 0 20px;
	position: relative;
}
.rHeader {
	font-size: 30px;
}
.jointext {
	font-family: "GothamBold";
}
input:focus {
	outline: 0;
}
.calendar{
  text-align: center;
}
.footlogo {
	position: absolute;
	background-image: url("hcvlogo.png");
	background-size: cover;
	width: 170px;
	height: 170px;
	transform: translate(0, 25px);
	left: 7%;
}
.lform {
	position: relative;
	width: 400px;
	left: 50%;
	transform: translate(-50%, 0);
	margin-top: 12px;
}
.rform {
	position: relative;
	width: 300px;
	left: 65%;
	transform: translate(-50%, 0);
	margin-top: -5px;
}
.otherProgButton {
	border-radius: 15px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #42B4E6;
	font-family: 'GothamBook';
	margin: 10px 0 0 0;
	padding: 0;
	width: 140px;
	height: 40px;
	background: #42B4E6;
	border: 1px solid #42B4E6;
	color: #FFF;
	overflow: hidden;
	transition: all 0.5s ease;
	cursor: pointer;
}
.centered {
	left: 50%;
	transform: translate(-50%, 0);
}
.check {
	background-image: url("checkmark.png");
	background-size: cover;
	top: 3px;
	transform: translate(0, -50%);
	right: 5%;
	position: absolute;
	width: 25px;
	height: 25px;
	opacity: 0;
	transition: all 0.5s ease;
	filter: invert(100%);
}
.check1 {
	background-image: url("checkmark.png");
	background-size: cover;
	top: 3px;
	transform: translate(0, -50%);
	right: 4%;
	position: absolute;
	width: 20px;
	height: 20px;
	opacity: 0;
	transition: all 0.5s ease;
	filter: invert(100%);
}

.jade-hidden{
  display: none;
}

.jade-shown{
  padding-right: 0;
}
.otherProgButton:hover {
  color: #3187C8;
  border-color: #3187C8;
  background: #C7E2EF;
}
.otherProgButton:hover .check {
	filter: invert(0%);
/*  -webkit-filter: brightness(50%) sepia(1) hue-rotate(168deg) saturate(63.5%) brightness(88%);
*/  opacity: 1;
  top: 47%;
}
.otherProgButton:hover .check1 {
	filter: invert(0%);
/*  -webkit-filter: brightness(50%) sepia(1) hue-rotate(168deg) saturate(63.5%) brightness(88%);
*/  opacity: 1;
  top: 47%;
}
.submitText {
  transition: padding-right 0.5s;
}
.submitText1 {
	letter-spacing: 1px;
	position: absolute;
  transition: padding-right 0.5s;
  font-size: 16px;
  transform: translate(-50%, -50%);
}

.otherProgButton:hover .submitText {
  padding-right: 16.5%;
}
.otherProgButton:hover .submitText1 {
  padding-right: 15.7%;
}

.input__field {
	margin-top: -10px;
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #F0F0F0;
	font-size: 105%;
	font-weight: bold;
	appearance: none;
	font-family: 'GothamLight';
}
.input__field1 {
	text-align: center;
	margin-top: -5px;
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #F0F0F0;
	font-size: 105%;
	font-weight: bold;
	appearance: none;
	font-family: 'GothamLight';
}
.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6A7989;
	font-weight: bold;
	font-size: 80%;
	-webkit-font-smoothing: antialiased;
	user-select: none;
}
.input__field--isao {
	z-index: 10;
	padding: 0.75em 0.1em 0.25em;
	width: 100%;
	background: transparent;
	color: #262352;
}

.input__label--isao, .input__label--isao1 {
	position: relative;
	overflow: hidden;
	padding: 0;
	width: 100%;
	color: #000;
	text-align: left;
}	

.input__label--isao::before, .input__label--isao1::before {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 7px;
	background: #ccc	;
	transform: scale3d(1, 0.4, 1);
	transform-origin: 50% 100%;
	transition: transform 0.3s, background-color 0.3s;
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__label--isao::after {
	content: attr(data-content);
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.75em 0.15em;
	color: #3187C8;
	opacity: 0;
	transform: translate3d(0, 50%, 0);
	transition: opacity 0.3s, transform 0.3s;
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	pointer-events: none;
}
.input__label--isao1::after {
	content: attr(data-content);
	position: absolute;
	top: 0;
	left: 50%;
	padding: 0.75em 0.15em;
	color: #3187C8;
	opacity: 0;
	transform: translate3d(-50%, 50%, 0);
	transition: opacity 0.3s, transform 0.3s;
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	pointer-events: none;
}

.input__field--isao:focus + .input__label--isao::before, .input__field--isao:focus + .input__label--isao1::before {
	background-color: #3187C8;
	transform: scale3d(1, 1, 1);
}

.input__field--isao:focus + .input__label--isao, .input__field--isao:focus + .input__label--isao1 {
	pointer-events: none;
}

.input__field--isao:focus + .input__label--isao::after {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}
.input__field--isao:focus + .input__label--isao1::after {
	opacity: 1;
	transform: translate3d(-50%, 0, 0);
}
.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}
.input__label-content1 {
	text-align: center;
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}
.input__label-content--isao {
	padding: 0.75em 0.15em;
	transition: opacity 0.3s, transform 0.3s;
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.input__label-content--isao1 {
	text-align: center;
	padding: 0.75em 0.15em;
	transition: opacity 0.3s, transform 0.3s;
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__field--isao:focus + .input__label--isao .input__label-content--isao {
	opacity: 0;
	transform: translate3d(0, -50%, 0);
}
.input__field--isao:focus + .input__label--isao1 .input__label-content--isao1 {
	opacity: 0;
	transform: translate3d(0, -50%, 0);
}
*:after, *:before {
	box-sizing: border-box;
}

.alumni-image-one{
  padding-left: 70px;
}


/* font faces & media queries */

@font-face {
	font-family: 'FuturaRegular';
	src: url('fonts/FuturaRegular.woff') format('woff');
}
@font-face {
	font-family: 'GothamBook';
	src: url('fonts/GothamBook.woff') format('woff');
}
@font-face {
	font-family: 'GothamBold';
	src: url('fonts/GothamBold.woff') format('woff');
}
@font-face {
	font-family: 'ChunkFive';
	src: url('fonts/Chunkfive.woff') format('woff');
}
@font-face {
	font-family: 'GothamLight';
	src: url('fonts/GothamLightRegular.woff') format('woff');
}
@media screen and (max-width: 610px) {
	.curriculum-title {
		font-size: 40px;
	}
}
@media screen and (max-width: 900px) {
	h1, h3 {
		text-align: center;
	}
	.tabs {
		display: none;
	}
	.dropdown {
		float: right;
		display: block;
	}
	.dropbtn {
		margin-right: 40%;
		width: 30px;
		height: 30px;
		float: right;
		filter: invert(100%);
		background-image: url("draglist.png");
		background-size: cover;
		padding: 0;
	}
	.content {
		top: 58px;
		position: absolute;
		right: 0;
		display: none;
		background-color: #001C27;
		min-width: 160px;
		box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.2);
		transition: all 0.13s ease-in-out;
		z-index: 101;
	}
	.content a {
		border: 1px solid #444444;
		color: white;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
		font-size: 18px;
		text-align: right;
	}
	.content a:hover {
		background-color: #333333;
	}
	.dropdown:hover .content {
		display: block;
	}
	.logo {
		margin-top: -9px;
		width: 53px;
		height: 53px;
	}

  .row-image{
    display: block;
    margin-bottom: 45px;
    font-family: 'GothamLight';
  }
  .one-a{
    margin-top: 45px;
  }
  .row-caption{
    top: -22px;
  }

  .alumni-image{
    width: 100%;
    padding-top: 30px;
    border: none;
  }

  .icon-holder{
    width: 100%;
  }

  .jade-hidden{
    display: block;
  }

  .jade-shown{
    display: none;
  }
  .apply-button{
    width: 50%;
    margin: 0 auto;
  }

  .row-item{
    text-align: center;
  }

  .alumni-image{
    padding-left: 0;
  }
  .carousel{
    margin: 0 auto;
  }
}



@media (max-width: 700px){
  

  span.text-content {
    position: absolute;
    height: 200px;
    opacity: 1;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.6);
  }


}


@media (max-width: 585px){
  .alumni-face{
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
  }

  .alumni-name{
    text-align: center;
    width: 100%;
  }

  .alum-name{
    padding-top: 0;
    padding-bottom: 20px;
    font-size: 24px;
  }

  .row-item{
    padding-top: 10px;
  }
}

@media (max-width: 499px){
  .apply{
    height: auto;
  }

  .apply-button{
    width: 100%;
  }
}

@media (max-width: 470px){
  .carousel{
    width: 90%;
  }

  .row-alumni-img{
    width: 100%;
  }

  .row-alumni-img-two{
    width: 100%;
  }

}

@media (max-width: 1400px) {
	.instrSect {
		height: 825px;
	}
	.instrHeading {
		top: 15px;
		margin: 0;
	}
	.adam {
		top: 200px;
	}
	.adamTitle {
		top: 473px;
	}
	.adamDesc {
		top: 495px;
		width: 250px;
	}
	.kim {
		left: 13.5%;
		top: 235px;
	}
	.kimTitle {
		top: 455px;
		left: 16.2%;
	}
	.kimDesc {
		left: 13.2%;
		top: 457px;
		width: 220px;
	}
	.kendall {
		right: 13.5%;
		top: 235px;
	}
	.kendallTitle {
		top: 455px;
		right: 14.2%;
	}
	.kendallDesc {
		right: 12.7%;
		top: 457px;
		width: 220px;
	}
	.adam:hover ~ .adamTitle {
		top: 476px !important;
		color: #CFF1F4 !important;
		transform: translate(-50%, 0) scale(1.05) !important;
	}
	.adam:hover ~ .adamDesc {
		opacity: 0.98;
		top: 553px;
		transition-delay: 0s;
	}
	.adamDesc:hover {
		opacity: 0.98;
		top: 553px;
		transition-delay: 0s;
		transform: translate(-50%, 0) scale(1.03);
	}
	.kim:hover ~ .kimTitle {
		top: 455px !important;
		color: #CFF1F4 !important;
		transform: scale(1.05) !important;
	}
	.kim:hover ~ .kimDesc {
		opacity: 0.98;
		top: 530px;
		transition-delay: 0s;
	}
	.kimDesc:hover {
		opacity: 0.98;
		top: 530px;
		transition-delay: 0s;
		transform: scale(1.03);
	}
	.kendall:hover ~ .kendallTitle {
		top: 455px !important;
		color: #CFF1F4 !important;
		transform: scale(1.05) !important;
	}
	.kendall:hover ~ .kendallDesc {
		opacity: 0.98;
		top: 530px;
		transition-delay: 0s;
	}
	.kendallDesc:hover {
		opacity: 0.98;
		top: 530px;
		transition-delay: 0s;
		transform: scale(1.03);
	}
}


@media (max-width: 410px;){
  .curriculum{
    padding-top: 20px;
  }
}


@media (max-width: 380px){

  .hero-title{
    padding-top: 75px;
  }

  .title-main{
    height: 90vh;
  }

  .strong{
    font-size: 65px;
  }

  .curriculum{
    padding-top: 40px;
  }
}